.sb-left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #324150;
    text-align: center;
    padding: 1rem 2rem 1rem 1rem;
    min-width: 310px;
}
.logo-box {
    text-align: left;
    img {
        width: 40px;
        display: inline-block;
        vertical-align: middle;
    }
    span {
        font-size: rem(20);
        margin: 0 0 0 1rem;
        color: #ffffff;
    }
}
.menu-box {
    padding: .5rem 0;
    margin: 0;
    width: 100%;
    ul {
        list-style: none;
        li {
            text-align: left;
            position: relative;
            display: flex;
            align-items: center;
            margin: 1rem 0;
            padding: 1rem 0 0 0;
            & + li {
                border-top: 1px solid hsl(206, 10%, 34%);
            }
            &.active {
                &:after {
                    opacity: 1;
                }
            }
            a {
                flex-grow: 1;
                font-size: rem(12);
                text-transform: uppercase;
                color: #ffffff;
                display: inline-block;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
            svg {
                width: 25px;
                height: 25px;
                display: inline-block;
                vertical-align: middle;
                margin-right: .4rem;
            }
        }
    }
}
