.booking {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    background: #fff;
    position: relative;
    padding: 1rem;
    margin: 1rem;
    &.is-sticky {
        .booking-header {
            .bh-cd-box {
                background-color: #fff;
                position: sticky;
                border-right: 1px solid $border_cell;
                left: -1rem;
                z-index: 100;
            }
        }
        .booking-body {
            .booking-body-category, .booking-body-room {
                .bb-name {
                    position: sticky;
                    border-right: 1px solid $border_cell;
                    left: -1rem;
                    z-index: 100;
                }
            }
        }
    }
    &-header {
        display: flex;
        align-items: center;
        padding: 0 .5rem 0 0;
        .bh-cd-box {
            display: flex;
            justify-content: center;
            width: 300px;
            text-align: center;
            align-self: stretch;
            .bh-current-date {
                margin: auto;
                display: inline-block;
                .group {
                    margin: 0;
                    width: 130px;
                    input {
                        text-align: center;
                    }
                }
            }
        }
        .bh-md-box {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: calc(100% - 300px);
            .bh-month {
                width: 100%;
                display: flex;
                align-items: center;
                &-current, &-next {
                    display: flex;
                    align-items: center;
                    background-color: #fff;
                    box-shadow: 0 1px 0 rgba(0,0,0,.1);
                    border-radius: 3px;
                    font-size: rem(12);
                    text-transform: uppercase;
                    transition: all 300ms ease;
                    font-weight: 500;
                    border: 1px solid #e0e9ee;
                    &:hover {
                        cursor: pointer;
                        box-shadow: none;
                    }
                    svg {
                        margin: 0;
                    }
                    span {
                        background-color: #f0f5f5;
                        padding: .2rem .4rem;
                        border-right: 1px solid #e0e9ee;
                    }
                }
                &-current {
                    svg {
                        transform: rotate(90deg);
                    }
                }
                &-next {
                    margin: 0 0 0 auto;
                    svg {
                        transform: rotate(-90deg);
                    }
                }
            }
            .bh-dates {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin: .5rem 0 1rem 0;
                .cell {
                    border-left: 1px solid $border_cell;
                    border-top: 1px solid $border_cell;
                    border-bottom: 1px solid $border_cell;
                    border-right: none;
                    &:last-child {
                        border-right: 1px solid $border_cell;
                    }
                    &.current {
                        background-position: top center;
                        //&:before {
                        //    content: "";
                        //    position: absolute;
                        //    width: 12px;
                        //    height: 12px;
                        //    border-radius: 50%;
                        //    top: -6px;
                        //    left: calc(100% / (24 / var(--data-hour)) - 6px);
                        //    background-color: #e41e1e;
                        //    z-index: 10;
                        //}
                    }
                }
            }
        }
    }
    &-body {
        padding: 0 .5rem 0 0;
        &-category {
            & + .booking-body-rooms {
                .bb-free {
                    .cell {
                        border-top: none;
                        border-bottom: none;
                    }
                }
            }
            &:first-child {
                border-top: 1px solid #d2dfe6;
                .bb-free {
                    .cell {
                        border-top: none;
                        border-bottom: none;
                    }
                }
            }
        }
        &-category-rooms {
            display: none;
        }
        &-category.active {
            svg {
                transform: rotate(180deg);
            }
        }
        &-category.active + &-category-rooms {
            display: block;
        }
        &-category, &-room {
            display: flex;
            align-items: center;
            border-bottom: 1px solid $border_cell;
            border-left: 1px solid $border_cell;
            position: relative;
            .bb-name {
                display: flex;
                align-items: center;
                align-self: stretch;
                width: 300px;
                padding: 0 .4rem;
                font-size: rem(14);
                background-color: #fff;
                > div {
                    color: #2f3034;
                    &:hover {
                        cursor: pointer;
                    }
                    svg {
                        transition: all 300ms ease;
                    }
                    &:first-child {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
                &.cloned {
                    position: absolute;
                    left: 0;
                }
            }
            .bb-free {
                width: calc(100% - 300px);
                display: flex;
                align-items: center;
                .cell {
                    padding: 0;
                    &:hover {
                        cursor: pointer;
                    }
                    .count {
                        font-size: rem(13);
                        padding: .6rem 0;
                    }
                }
            }
        }
        &-room {
            align-items: stretch;
            .bb-name {
                padding: 0 .2rem 0 1rem;
                font-size: rem(13);
            }
            .bb-free {
                .cell {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    align-self: stretch;
                    color: #667686;
                    background-color: #E0F7F7;
                    .count {
                        padding: .8rem .4rem .4rem 0;
                    }
                }
            }
        }
    }
    .cell {
        flex-grow: 1;
        background-color: #fff;
        padding: .2rem 0 0 0;
        display: inline-block;
        text-align: center;
        border-left: 1px solid $border_cell;
        border-right: 1px solid $border_cell;
        transition: all 300ms ease;
        position: relative;
        user-select: none;
        min-width: 36px;
        & + .cell {
            border-left: none;
        }
        &.holiday {
            background-color: $bg_cell_holiday;
            .week-day {
                background-color: $bg_cell_holiday;
            }
        }
        &.first-day {
            &:before {
                content: "";
                position: absolute;
                left: -1px;
                top: -24px;
                width: 1px;
                height: 24px;
                background-color: $border_cell;
            }
            &:after {
                content: attr(data-month);
                position: absolute;
                top: -1.4rem;
                left: .5rem;
                font-size: rem(14);
            }
        }
        &.last-day {
            &:after {
                content: attr(data-month);
                position: absolute;
                top: -1.4rem;
                right: .5rem;
                font-size: rem(14);
            }
        }
        &.current {
            background-image: url("../img/klyaksa.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom right;
            //&:after {
            //    content: "";
            //    position: absolute;
            //    width: 1px;
            //    left: calc(100% / (24 / var(--data-hour)));
            //    top: 0;
            //    bottom: 0;
            //    background-color: #e41e1e;
            //}
        }
        &.selected {
            .count {
                visibility: hidden;
            }
            & + .selected {
                &:before {
                    left: -50%;
                    width: 100%;
                }
                &:after {
                    left: calc(-50% - 1px);
                    width: 100%;
                }
            }
        }
        .month-day {
            padding: .2rem 0;
        }
        .week-day {
            border-top: 1px solid #e0e9ee;
            background-color: #f1f5f8;
            display: block;
            font-size: rem(9);
            color: #667686;
            padding: .2rem 0;
            font-weight: 500;
        }
        &.status-booked {
            .book-info {
                background-color: #a7ffc0;
            }
        }
        &.status-confirm {
            .book-info {
                background-color: #b1f3fe;
            }
        }
        &.status-checkin {
            .book-info {
                background-color: #ffebeb;
            }
        }
    }
    .selected {
        position: relative;
        &:before, &:after {
            content: "";
            top: 4px;
            bottom: 4px;
            position: absolute;
            background-color: #a5b3bb;
        }
    }
}

[class*=status-] {
    position: relative;
    .count {
        visibility: hidden;
    }
}

.book-info {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 50%;
    font-size: rem(12);
    width: calc(100% * var(--data-width) * var(--deflection));
    z-index: 10;
    font-weight: 500;
    text-align: left;
    border: 1px solid #a5b3bb;
    line-height: normal;
    padding: .2rem 0 0 .2rem;
    span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        padding: 0 2rem 0 0;
    }
    .book-info-payed {
        position: absolute;
        right: -1px;
        top: -1px;
        padding: 2px 5px;
        font-size: rem(9);
        font-weight: 500;
    }
}
